<ion-header [translucent]="true"> </ion-header>
<ion-content>
  <div class="topo">
    <ion-button class="botao-retornar" routerLink="/tabs/tab2"><</ion-button>
  </div>

  <div class="texto">
    <h1 class="h1">Meu carrinho</h1>
  </div>

  <div class="lista">
    <div class="lista-frutas">
      <ion-button class="botao-frutas">
        <img src="/assets/frutas.png" />
      </ion-button>
      <div class="div-textos">
        <p class="txt-comum">Frutas</p>
        <p class="txt-forte">$ 50,00 <span class="txt-fraco">5 itens</span></p>
      </div>
      <!--<div>-->
      <ion-button fill="clear" class="botao-editar">
        <ion-icon name="pencil-outline" class=""></ion-icon>Editar</ion-button
      >
      <!--</div>-->
    </div>
  </div>
  <div class="lista">
    <div class="lista-diversos">
      <ion-button class="botao-diversos">
        <img src="/assets/diversos.png" />
      </ion-button>
      <div class="div-textos">
        <p class="txt-comum">Diversos</p>
        <p class="txt-forte">$ 35,40 <span class="txt-fraco">6 itens</span></p>
      </div>
      <!--<div>-->
      <ion-button fill="clear" class="botao-editar">
        <ion-icon name="pencil-outline" class=""></ion-icon>Editar</ion-button
      >
      <!--</div>-->
    </div>
  </div>
  <div class="lista">
    <div class="lista-acougue">
      <ion-button class="botao-acougue">
        <img src="/assets/acougue.png" />
      </ion-button>
      <div class="div-textos">
        <p class="txt-comum">Açougue</p>
        <p class="txt-forte">$ 56,44 <span class="txt-fraco">3 itens</span></p>
      </div>
      <!--<div>-->
      <ion-button fill="clear" class="botao-editar">
        <ion-icon name="pencil-outline" class=""></ion-icon>Editar</ion-button
      >
      <!--</div>-->
    </div>
  </div>
  <ion-card class="card">
    <div class="conteudo-card">
      <div class="coluna-esquerda">
        <ion-card-subtitle style="color: #fff; font-weight: lighter"
          >Total a pagar</ion-card-subtitle
        >
        <ion-card-title style="color: #fff; margin-top: 10px; font-weight: bold"
          >$ 141,84</ion-card-title
        >
      </div>
      <div class="coluna-direita">
        <ion-button fill="outline" class="botao-pagar"
          >Pagar agora ></ion-button
        >
      </div>
    </div>
  </ion-card>
</ion-content>
