<ion-header [translucent]="true"> </ion-header>
<ion-content>
  <div class="topo">
    <ion-button class="botao-retornar" routerLink="/tabs/tab2"><</ion-button>
  </div>

  <div class="texto">
    <h1 class="h1">Meu carrinho</h1>
  </div>

  <div class="lista">
    <div class="lista-frutas">
      <ion-button class="botao-frutas">
        <img src="/assets/frutas.png" />
      </ion-button>
      <div class="div-textos">
        <p class="txt-comum">Frutas</p>
        <p class="txt-forte">$ 50,00 <span class="txt-fraco">5 itens</span></p>
      </div>

      <ion-button fill="clear">Editar</ion-button>
    </div>
  </div>
</ion-content>
