<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar class="toolbar">
    <div class="topo">
      <p class="texto">
        <img src="/assets/mapsIcon.png" class="icone" />
        Taboão da Serra, SP
      </p>
      <img src="/assets/user.png" class="user" />
    </div>
  </ion-toolbar>
  <div class="pesquisa">
    <ion-searchbar
      show-clear-button="focus"
      class="barra-pesquisa"
    ></ion-searchbar>
  </div>
  <div class="container">
    <div class="linha-superior">
      <ion-button class="frutas-botao">
        <p class="frutas-texto"><img src="/assets/frutas.png" />Frutas</p>
      </ion-button>
      <ion-button class="diversos-botao">
        <p class="diversos-texto"><img src="/assets/diversos.png" />Diversos</p>
      </ion-button>
    </div>
    <div class="linha-inferior">
      <ion-button class="acougue-botao">
        <p class="acougue-texto"><img src="/assets/acougue.png" />Açougue</p>
      </ion-button>
      <ion-button class="bebidas-botao">
        <p class="bebidas-texto"><img src="/assets/bebidas.png" />Bebidas</p>
      </ion-button>
    </div>
  </div>
</ion-content>
