ion-content {
  --background: #fff;
}
.toolbar {
  --background: #fff;
}
.topo {
  display: flex;
  margin-top: 20px;
  margin-left: -70px;
  margin-bottom: 30px;
  justify-content: space-around;
  --background: #fff;
  max-height: 50px;
}
.icone {
  color: black;
  width: 35px;
  height: 40px;
}
.texto {
  display: flex;
  align-items: center;
  color: black;
}
.user {
  display: flex;
  align-items: center;
  margin-right: -70px;
  width: 40px;
  height: 39px;
}
.pesquisa {
  margin: 10px;
}
.barra-pesquisa {
  --background: #f8f8f8;
  --border-radius: 4px;
}
.linha-superior {
  display: flex;
  justify-content: space-around;
}
.frutas-botao {
  --background: #c5d7b1;
  --border-radius: 20px;
  height: 100px;
  width: 230px;
}
.frutas-texto {
  display: flex;
  align-items: center;
}
.diversos-botao {
  --background: #92b6fa;
  --border-radius: 20px;
  height: 100px;
  width: 230px;
}
.diversos-texto {
  display: flex;
  align-items: center;
}
.linha-inferior {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.acougue-botao {
  --background: #f0bdb2;
  --border-radius: 20px;
  height: 100px;
  width: 230px;
}
.acougue-texto {
  display: flex;
  align-items: center;
}
.bebidas-botao {
  --background: #60f8e9;
  --border-radius: 20px;
  height: 100px;
  width: 230px;
}
