<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <div class="imagem">
    <img
      alt="Cesta de compras com, maçã, refrigerante, leite e pão"
      src="/assets/home-image.png"
      style="height: 400px"
    />
  </div>

  <div class="texto">
    <ion-card-title class="titulo">Entregamos</ion-card-title>
    <ion-card-title class="titulo">mantimentos à</ion-card-title>
    <ion-card-title class="titulo">sua porta</ion-card-title>
  </div>
  <div class="texto2">
    <ion-text class="texto-simples"
      >A mercearia oferece vegetais e frutas frescas.</ion-text
    >
    <ion-text class="texto-simples"
      >Encomendem itens frescos na mercearia.</ion-text
    >
  </div>
  <div class="botao-controlador">
    <ion-button shape="round" class="botao" size="large" routerLink="/tabs/tab2"
      >Iniciar →</ion-button
    >
  </div>
</ion-content>
