<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar class="toolbar"> </ion-toolbar>
  <div class="topo">
    <p class="texto">
      <img src="/assets/mapsIcon.png" class="icone" />
      Taboão da Serra, SP
    </p>
    <img src="/assets/user.png" class="user" />
  </div>
  <div class="textos-cabecalho">
    <p class="pequeno-texto">Seja bem-vindo,</p>
    <h6 class="grande-texto">Vamos pedir itens fresquinhos para você?</h6>
  </div>

  <div class="categorias">
    <p class="medio-texto">Categorias</p>
    <div class="container">
      <ion-button class="frutas-botao">
        <p class="frutas-texto"><img src="/assets/frutas.png" />Frutas</p>
      </ion-button>
      <ion-button class="diversos-botao">
        <p class="diversos-texto"><img src="/assets/diversos.png" />Diversos</p>
      </ion-button>
      <ion-button class="acougue-botao">
        <p class="acougue-texto"><img src="/assets/acougue.png" />Açougue</p>
      </ion-button>
    </div>
  </div>
  <div>
    <p class="medio-texto">Minhas compras</p>
    <p></p>
  </div>
  <div class="lista">
    <div class="lista-frutas">
      <div class="ao-lado">
        <ion-button class="botao-frutas">
          <img src="/assets/frutas.png" />
        </ion-button>
        <div class="div-textos">
          <p class="txt-comum">Frutas</p>
          <p class="txt-fraco">27/05/2024</p>
        </div>
      </div>
      <!--<div>-->
      <div class="div-textos2">
        <p class="txt-forte">$ 50,00</p>
        <p class="txt-fraco">5 itens</p>
      </div>
      <!--</div>-->
    </div>
  </div>

  <div class="lista">
    <div class="lista-diversos">
      <div class="ao-lado">
        <ion-button class="botao-diversos">
          <img src="/assets/diversos.png" />
        </ion-button>
        <div class="div-textos">
          <p class="txt-comum">Diversos</p>
          <p class="txt-fraco">20/05/2024</p>
        </div>
      </div>
      <!--<div>-->
      <div class="div-textos2">
        <p class="txt-forte">$ 35,40</p>
        <p class="txt-fraco">6 itens</p>
      </div>
      <!--</div>-->
    </div>
  </div>

  <div class="lista">
    <div class="lista-acougue">
      <div class="ao-lado">
        <ion-button class="botao-acougue">
          <img src="/assets/acougue.png" />
        </ion-button>
        <div class="div-textos">
          <p class="txt-comum">Açougue</p>
          <p class="txt-fraco">20/05/2024</p>
        </div>
      </div>
      <!--<div>-->
      <div class="div-textos2">
        <p class="txt-forte">$ 56,44</p>
        <p class="txt-fraco">3 itens</p>
      </div>
      <!--</div>-->
    </div>
  </div>
</ion-content>
